<h1>Welcome <%= @user.first_name %> <%= @user.last_name %></h1>

<p>Your email: <%= @user.email %></p>

<p>Role: <%= @user.role %></p>

<% if @restaurants.any? %>
  <h2 class="py-4">Restaurants owned by <%= @user.first_name %>:</h2>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <%= link_to restaurant_path(restaurant), class: "text-decoration-none text-dark" do %>
          <div class="card-product my-1">
            <% if restaurant.photo.attached? %>
              <%= cl_image_tag restaurant.photo.key, height: 400, width: 400, crop: :fill %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <% end %>
            <div class="card-product-infos">
              <h2><%= restaurant.name %></h2>
              <p><%= restaurant.reviews.average(:rating).to_f.round(1) %>⭐️ (<%= restaurant.reviews.count %> reviews)</p>
              <p><%= restaurant.address %></p>
              <p><%= restaurant.category %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @user.owner? %>
  <%= link_to "Add New Restaurant", new_restaurant_path, class: "btn btn-success mt-4" %>
<% end %>
