<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "RestaurantsBackground.png" %>);">
  <div class="container">
    <h1>Welcome to <%= @restaurant.name %></h1>
    <p><%= @restaurant.reviews.average(:rating).to_f.round(1)%>⭐️ (<%= @restaurant.reviews.count %> reviews)</p>
    <p><%= @restaurant.category %></p>
  </div>
</div>

<div class="container d-flex pt-5">
  <div class="col-8 pe-5">
    <div class="mb-4 border-bottom pb-4">


    <%= link_to "☆ Write a review", new_restaurant_review_path(@restaurant), class: "btn btn-success" %>

    </div>

    <div class="border-bottom" style="height: 320px">
      <div class="map-container" style="height: 200px; width: 350px">
        <p><strong>Location</strong></p>
        <div class="map-view"
          data-controller="map"
          data-map-markers-value='<%= [{ lat: @restaurant.latitude, lng: @restaurant.longitude }].to_json %>'
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <p><%= @restaurant.address %></p>
      </div>
    </div>


    <div class="mt-5"><%= render "review-card" %></div>

  </div>

  <div class="col-4">
    <div class="card" style="max-width: 300px">
      <div><p class="border-bottom text-decoration-none text-dark p-3"><i class="fa-solid fa-user-secret"></i> <%= @restaurant.user.first_name %> <%= @restaurant.user.last_name %></p></div>
      <div><p class="px-3 pb-3 border-bottom"><i class="fa-solid fa-phone-volume"></i> <%= @restaurant.phone_number %></p></div>
      <div>
      <p class="px-3"><i class="fa-solid fa-map-location-dot"></i> Get Directions</p>
      <p class="px-3"><%= @restaurant.address %></p></div>
    </div>
  </div>
</div>

<p>
  <% if policy(@restaurant).edit? %>
    <%= link_to "Edit Restaurant", edit_restaurant_path, class: "btn btn-primary" %>
  <% end %>
</p>

<% if policy(@restaurant).destroy? %>
  <%= link_to "Delete Restaurant", restaurant_path(@restaurant), class: "btn btn-danger",
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
