<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Welcome to <%= @restaurant.name %></h1>
    <a class="text-decoration-none text-blue">Owner: <span class="text-white"><%= @restaurant.user.first_name %> <%= @restaurant.user.last_name %></span></a>
  </div>
</div>

<%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn btn-success" %>

<%= render "review-card" %>


<p><%= link_to "Go back", restaurants_path %></p>

<p>
  <% if policy(@restaurant).edit? %>
    <%= link_to "Edit Restaurant", edit_restaurant_path, class: "btn btn-primary" %>
  <% end %>
</p>

<% if policy(@restaurant).destroy? %>
  <%= link_to "Delete Restaurant", restaurant_path(@restaurant), class: "btn btn-danger",
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
